@import '../../styles/settings.scss';

.component {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  color: black;
}

.notFound {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  >article {
    width: 50%;
  }
}

.cards {
  padding: ($base-size / 2);
}

.link {
  text-decoration: none;
  font-weight: 700;
  color: $color-warning;
  &:hover {
    color: $color-success;
  }
}