@import '../../styles/settings.scss';

.component {
  position: relative;
  min-height: ($base-size * 15);
  background: $color-dark;
  margin: 0 0 ($base-size * 3) 0;
  overflow: hidden;
  border-radius: $radius;
}

.title {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  font-size: ($base-size * 2.5);
  text-transform: uppercase;
  color: $color-light;
  transform: translate(-50%,-50%);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transparent: 0.5;
}
