@import '../../styles/settings.scss';

.component {
  position: relative;
  display: flex;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  height: 67px;
  text-align: center;
}

.cardWithButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    display: none;
  }
}

.cardWithButton:hover {
  button {
    display:block;
  }
}
