@import '../../styles/settings.scss';

.component {
  padding: $base-size;
}

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  padding: ($base-size * 2) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-style: italic;
  font-weight: normal;
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}

.creator {
  width: 50%;
  margin: auto;
}
