@import '../../styles/settings.scss';

.link {
  text-decoration: none;
  color: $color-dark;
}

.component {
  background: $color-light;
  display: flex;
  margin-bottom: $base-size;
  border-radius: $radius;
  box-shadow: 0 ($base-size / 4) 0 rgba(0,0,0,0.3);
}

.text {
  padding: $base-size;
  min-width: 300px;
  margin-right: auto;
}

.title {
  margin-bottom: ($base-size * 2);
}

.image {
  height: 100px;
  width: 1500px;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
